
.form .input-box #password-signup{
    padding-right: 40px;
}

.form .input-box #btn-signup{
    max-width: 111px;
    transform: translateX(207px);
}

.sign-up-box{
    color: var(--main-color-wh);
    text-align: center;
    padding: 8px 0;
}

.sign-up-box a{
    color: var(--main-color-grd);
}

.sign-up-box a:hover{
    color: var(--main-color-gr);
}